bin/
obj/
.vs/
Items/.DS_Store
Items/.DS_Store
Items/Accessories/.DS_Store
Items/Sets/.DS_Store
Items/Sets/PreHardmode/.DS_Store
Items/Sets/PreHardmode/Granite/.DS_Store
Items/Armor/.DS_Store
Items/.DS_Store
Items/Sets/.DS_Store
Items/Sets/PreHardmode/.DS_Store
Items/Sets/PreHardmode/Seashell/.DS_Store
Npcs/.DS_Store
Projectiles/.DS_Store
Items/Weapons/.DS_Store
Items/Sets/.DS_Store
Items/.DS_Store
Items/Sets/.DS_Store
Items/Sets/PreHardmode/.DS_Store
Projectiles/Granite/.DS_Store
Projectiles/Mushroom/.DS_Store
Items/.DS_Store
Items/Sets/.DS_Store
Items/Sets/PreHardmode/.DS_Store
Items/Sets/PreHardmode/.DS_Store
Items/Sets/.DS_Store
Items/.DS_Store
.DS_Store
